.ImgStarsServicing-PTAG {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
    font-weight: 600;
    padding-top: 50px;
    color: rgb(71, 71, 71);
}

.starsimgci-is {
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}