/* Container for the slider */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 40px 0;
  background-color: #dde0df;
  margin-top: 30px;
  margin-bottom: 80px;
}

.logo-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.logosc {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}

.logo-text {
  font-size: 18px;
  letter-spacing: 14px;
  padding-bottom: 20px;
}

.sc-pTag {
  font-size: 18px;
  letter-spacing: 18px;
  padding-bottom: 15px;
  font-stretch: 10px;
}

.slider-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.slider-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.slider-image.fade-out {
  opacity: 0;
}

.slider-image.fade-in {
  opacity: 1;
}

/* Image Styling */
.slider-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}

.slider-image p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.model-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid #000;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.model-button:hover {
  background-color: #a6a6a6;
}


/* Arrows for sliding the images */
.arrow {
  cursor: pointer;
  font-size: 2.5rem;
  color: #333;
  user-select: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .slider-container {
    flex-direction: column;
  }

  .left-arrow, .right-arrow {
    font-size: 2rem;
  }

  .model-button {
    font-size: 1rem;
  }
}
